.card-container {
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.card-content:hover {
  transform: scale(1.01);
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  flex: auto;
  justify-content: center;
  height: 25%;
  width: 75%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 3vh 0vw 3vh 15vw;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.tooltip {
  margin-top: 25px;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: space-between;
}

.add-button {
  background-color: white;
  border-radius: 10px;
  border: solid 0.5px rgb(200, 200, 200);
  padding: 10px;
  max-height: 2.3rem;
  font-weight: bold;
}

.add-button:hover {
  background-color: rgb(52, 152, 219);
}

.add-button:hover:disabled {
  background-color: rgb(220, 220, 220);
}

.add-button:disabled {
  background-color: rgb(220, 220, 220);
}
