<div class="register">
  <p class="header">You must change your password</p>
  <form class="register-form" [formGroup]="passwordForm">
    <div class="center-inputs">
      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input matInput [type]="isPassword1Visible ? 'text' : 'password'" placeholder="Password"
            formControlName="password" />
        </mat-form-field>

        <fa-icon class="register-password-eye" [icon]="isPassword1Visible ? faEyeSlash : faEye"
          (click)="togglePassword1Visibility()"></fa-icon>
      </div>
      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input matInput [type]="isPassword2Visible ? 'text' : 'password'" placeholder="Re-enter password"
            formControlName="rePassword" />
        </mat-form-field>

        <fa-icon class="register-password-eye" [icon]="isPassword2Visible ? faEyeSlash : faEye"
          (click)="togglePassword2Visibility()"></fa-icon>
      </div>
    </div>
    <div class="register-button">
      <button class="register-submit" (click)="changePassword()">Save</button>
    </div>
  </form>
</div>