<div>
    <div class="card-container">
        <mat-card class="company-card">
            <div>
                <mat-card-header>
                    <mat-card-title class="card-title">Kompanija</mat-card-title>
                    <div class="number-container">
                        <span class="card-number">Rating: 0</span>
                    </div>
                    <mat-card-subtitle class="card-subtitle">Bozidara Jankovica 5, Banovci, Srbija</mat-card-subtitle>
                </mat-card-header>
            </div>
        </mat-card>
    </div>
</div>
