.dialog {
    flex: auto;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    padding: 1rem;
    overflow: hidden;
  }
  
  .dialog-title {
    padding: 3%;
    font-weight: 700;
  }
  
  .dialog-content {
    margin: auto;
    width: max-content;
  }
  
  .dialog-actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .form-field {
    width: 80%;
  }
  