.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  z-index: 999;
  background-color: #3498db;
  transition: background-color 0.15s;
  justify-content: ;
}

.navbar-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: auto;
  margin-left: 2rem;
}

.navbar-button-panel {
  display: flex;
  align-items: center;
}

.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: background-color 0.15s, padding 0.15s;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  font-size: 0.9375rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.navbar-button:hover {
  background-color: #2980b9;
}

.navbar-logo-text:hover {
  cursor: pointer;
}
