<div class="navbar">
  <div class="navbar-logo-text" (click)="navigateToMedicalEquipment()">
    Medical equipment
  </div>
  <div class="navbar-right">
    <div class="navbar-menu">
      <div class="navbar-button-panel">
        <div>
          <button class="navbar-button">Login</button>
        </div>
        <div>
          <button class="navbar-button" (click)="register()">Register</button>
        </div>
        <div>
          <button class="navbar-button" (click)="customerProfile()">
            Profile
          </button>
        </div>
        <div>
          <button class="navbar-button" (click)="companyProfile()">
            Company Profile
          </button>
        </div>
        <div>
          <button class="navbar-button" (click)="companyRegistration()">
            New Company
          </button>
        </div>
        <div>
          <button class="navbar-button" (click)="companiesView()">
            Companies
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
