<div class="navbar">
    <div class="navbar-logo-text">Medical equipment</div>
    <div class="navbar-right">
        <div class="navbar-menu">
            <div class="navbar-button-panel">
                <div class="navbar-button navbar-log-in-button">
                    <button>Login</button>
                </div>
                <div class="navbar-button navbar-register-button">
                    <button (click)="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
