<div class="card">
    <div class="profile-info">
        <div class="label">Name:</div>
        <div class="value">{{profile.name}}</div>
    </div>    
    <div class="profile-info">
        <div class="label">Last name:</div>
        <div class="value">{{profile.lastname}}</div>
    </div>
    <div class="profile-info">
      <div class="label">Address:</div>
      <div class="value">{{profile.address.street}}</div>
    </div>
    <div class="profile-info">
      <div class="label">Country:</div>
      <div class="value">{{profile.address.country}}</div>
    </div>
    <div class="profile-info">
      <div class="label">City:</div>
      <div class="value">{{profile.address.city}}</div>
    </div>
    <div class="profile-info">
      <div class="label">Email:</div>
      <div class="value">{{profile.email}}</div>
    </div>
    <div class="profile-info">
      <div class="label">Phone Number:</div>
      <div class="value">{{profile.phoneNumber}}</div>
    </div>
    <div class="profile-info">
      <div class="label">Password:</div>
      <div class="value">{{profile.password}}</div>
    </div><br>
</div>
<button class="bottom-right-button" mat-icon-button (click)="editProfile()">
    <mat-icon>edit</mat-icon>
</button>