<div class="form">
    <h1 class="mat-dialog-title">Filter by average rate</h1> 
    <div class="mat-dialog-content">
        <form [formGroup]="filterForm">
            <div class="radio-button-container">
                <mat-radio-group formControlName="averageRate">
                    <div><mat-radio-button class="radio-button" [value]="1"> Lesser than 1 </mat-radio-button></div>
                    <div><mat-radio-button class="radio-button" [value]="2"> Between 1 and 2</mat-radio-button></div>
                    <div><mat-radio-button class="radio-button" [value]="3"> Between 2 and 3</mat-radio-button></div>
                    <div><mat-radio-button class="radio-button" [value]="4"> Between 3 and 4</mat-radio-button></div>
                    <div><mat-radio-button class="radio-button" [value]="5"> Greater than 4</mat-radio-button></div>
                </mat-radio-group>
            </div>
        </form>
    </div> 
    <div class="mat-dialog-actions"> 
        <button mat-button (click)="onCancel()">Cancel</button> 
        <button mat-button (click)="ok()" cdkFocusInitial>Ok</button> 
    </div> 
</div>