.edit-profile-form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    overflow-y: hidden;
    margin-top: 25px;
  }

  .form-field {
    margin-bottom: 3px;
    margin-top: 15px;
    overflow-y: hidden;
  }

  .bottom-right-button {
    position: fixed;
    bottom: 135px;
    right: 305px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
  }