.equipment-view {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-container {
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  height: 25%;
  width: 75%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
}

.type-title {
  font-weight: lighter;
  color:dimgrey;
  font-size: 12px;
}

.card-description {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 20px;
}

.companies {
  font-weight: lighter;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.option-view {
  height: 80%;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 60%;
}

.form-field {
  width: 100%;
}

.form-button {
  background-color: #3498db;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  margin-left: -120px;
}