<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup" label="Your shopping cart">
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Select reservation date">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <div class="appointment-info">
        <p class="info-message">
          Dates highlighted in green have available appointments.
        </p>
      </div>
      <div>
        <dx-calendar
          class="calendar"
          timeZone="Europe/London"
          id="calendar-container"
          currentView="month"
          [firstDayOfWeek]="1"
          [height]="700"
          [width]="1000"
          [value]="calendar_value"
          (onValueChanged)="calendar_valueChanged($event)"
        >
          <div *dxTemplate="let data of 'cell'">
            <span [ngClass]="getCellCssClass(data)">{{ data.text }}</span>
          </div>
        </dx-calendar>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
